/* 
* These are the styles for the sub-sections of the BTV section:
* Directions, Restaurants, Attractions, Shopping, and Lodging.
*/

/* General styles */

#additional-content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 10px 10px 10px 10px;
    color:#FFF;
    font-size:15pt;
    left: 142px;
    position: relative;
    width: 763px;
}

#additional-content a {
    color:#FFF;
    font-style:italic;
}

#conference-address, #conference-directions h2, #restaurants-list h2,
#attractions-list h2, #shopping-list h2, #lodging-list h2 {
    left:10px;
    position:relative;
}


/* Directions section */

#get-directions {
    left:10px;
    position:relative;
}

#map-canvas {
    display: none;
    height: 500px;
    left: 7px;
    position: relative;
    top: 10px;
    width: 750px;
}


/* Restaurants section */

/* General Restaurant styles */
.restaurant-content {
    left:150px;
    position:relative;
}

.restaurant-img {
    float:left;
    left:50px;
    position:relative;
    width:300px;
}

/* Sweetwaters */
#sweetwaters {
    height:250px;
    width:750px;
}

#sweetwaters img {
    height:200px;
}

/* Vermont Pub & Brewery */
#vpb {
    height:250px;
    width:750px;
}

/* L'Amante */
#lamante {
    height:250px;
    width:750px;
}

#lamante img {
    height:200px;
}



/* Attractions section */

/* General styles for Attractions section */
.attraction-content {
    left:50px;
    position:relative;
}

.attraction-img {
    float:right;
    position:relative;
    right:50px;
    width:300px;
}


/* Echo */
#echo {
    height:250px;
    width:750px;
}

/* Burlington Bike Path */
#bike-path {
    height:250px;
    width:750px;
}

/* Downtown Burlington */
#downtown {
    height:250px;
    width:750px;
}

/* North Beach */
#north-beach {
    height:250px;
    width:750px;
}